Hostname: {{ inventory_hostname }}
Model: {{ ansible_net_model[0] }}
Serial Number: {{ ansible_net_serialnum[0] }}
Version: {{ ansible_net_version }}
{% if device_description is defined %}
Description: {{ device_description }}
{% endif %}
{% if device_address is defined %}
Address: {{ device_address }}
{% endif %}
{% if network_motd is defined %}
{{ network_motd }}
{% endif %}
